attrs
bytecode
cattrs
certifi
charset-normalizer
datadog-lambda==5.87.0
datadog==0.48.0
ddsketch==2.0.4
ddtrace==2.6.5
deprecated
envier
exceptiongroup
idna
importlib-metadata
opentelemetry-api
protobuf
requests-futures
requests
six
typing-extensions
urllib3
wrapt
xmltodict
zipp
