attrs
bytecode
cattrs
certifi
charset-normalizer
datadog-lambda==8.123.0
datadog==0.52.1
ddsketch==3.0.1
ddtrace==3.19.7
deprecated
envier
exceptiongroup
idna==3.11
importlib-metadata
opentelemetry-api
protobuf==6.33.6
requests-futures
requests==2.33.1
setuptools==80.10.2
six
typing-extensions
urllib3>=2.6.3,<3.0
wrapt==1.14.1
xmltodict
zipp
ujson==5.12.0
