attrs
bytecode
cattrs
certifi
charset-normalizer
datadog-lambda==8.121.0
datadog==0.52.0
ddsketch==3.0.1
ddtrace==3.19.5
deprecated
envier
exceptiongroup
idna==3.15
importlib-metadata
opentelemetry-api
protobuf==6.33.5
requests-futures
requests==2.33.0
setuptools==82.0.1
six
typing-extensions
urllib3==2.7.0
wrapt==1.14.0
xmltodict
zipp
ujson==5.12.1
