name: AWS Python unit tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Setup Python 3.14
        uses: actions/setup-python@v3
        with:
          python-version: 3.14

      - name: AWS Python unit tests
        env:
          AWS_DEFAULT_REGION: us-east-1
          DD_API_KEY: "11111111111111111111111111111111"
          DD_ADDITIONAL_TARGET_LAMBDAS: "ironmaiden,megadeth"
          DD_STORE_FAILED_EVENTS: "true"
        run: |
          pip install boto3 mock approvaltests
          python -m unittest discover ./aws/logs_monitoring/
          python -m unittest discover ./aws/rds_enhanced_monitoring/
          python -m unittest discover ./aws/vpc_flow_log_monitoring/
